<!--
    templateType: password_prompt_page
    isAvailableForNewContent: true
    label: Password Prompt
    screenshotPath: ../../Images/System-templates/password-prompt.png
-->


{% extends "../layouts/base.html" %}

{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Password | Prompt" %}


{% block body %}
<body>

<div class='section'>
    <div class='inner-container flex flex-between gap-40'>
        <div class='text-content'>
         {% module "content"
        path="@hubspot/rich_text",
        html=" <h1 class='text-h3'>Enter Your Password to Continue</h1>

        <p>Your account keeps your fitness progress safe — enter your password to unlock access. </p>"
      %}
       
        </div>

<div class='input-box'> 
    {% password_prompt submit_button_text='{{ module.submit_button_text }}', password_placeholder='{{ module.password_placeholder }}', bad_password_message='{{ module.bad_password_message }}' %}
  </div>  
    </div>
</div>

  
</body>


{#  custom styles for this module #}
<style>

.inner-container{
max-width:1440px;
width:90%;
margin:0 auto;
align-items:center;
}

.input-box{
flex:1;
}

.text-content{
flex:1;
}

input[type='password']{
width:100%;
}

.input-box form{
display:flex;
gap:1rem;
align-items:center;
}

.input-box form input{
padding:1rem;
 border: var(--border-width-default) solid var(--color-border-default);
   border-radius: var(--radius-default);


{# from global call #}
 {% if theme.typography.body_text.font == 'primary' %}
  font-family: var(--font-family-primary);
  {% else %}
  font-family: var(--font-family-secondary);
  {% endif %}
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body-highlight);
  line-height: var(--line-height-secondary);
  letter-spacing: var(--letter-spacing-secondary);
  color: var(--color-text-secondary);
}



.input-box form input{
  outline: none;
  border-color: var(--color-brand-primary);
}

.input-box form input[type='submit']{
padding:0.875em;
border:none;
font-weight:700;
cursor:pointer;
}

.input-box form input[type="submit"]:hover{
  background-color:var(--color-bg-primary);
 color: var(--color-text-primary);
 border: var(--border-width-default) solid var(--color-border-default);
}

@media(max-width:768px){

   .inner-container , .input-box form{
   flex-direction:column;
   }

   .input-box form input[type='submit'], .input-box form input{
    width:-webkit-fill-available;
   }

   .input-box{
   width:100%;
   }

  
}

</style>


{% endblock body %}