<!--
  templateType: membership_reset_page
  isAvailableForNewContent: true
  label: Reset Password
  screenshotPath: ../../Images/System-templates/reset-password.png
-->

{% extends "../layouts/base.html" %}
{% set pageTitle = "Membership | Reset password" %}



{% block body %}
<main class="body-container-wrapper">
  <section class="section">
    <div class="container">
      <div class='flex gap-40 input-box flex-between'>
      <div class='text-content'>
        {% module "content"
        path="@hubspot/rich_text",
        html="<h1 class='login-title text-h3'>Set a New Password</h1><p class='login-des'>Create a strong password to protect your account.</p>"
      %}
</div>
        <div class="form-container form ">
          {% password_reset "fitmax_password_reset"
	        password_confirm_label="Confirm Password",
	        password_label="Password",
	        submit_button_text="Save Password" %}


        <div class='help-text'>
          {% module_block module "membership_admin_content"
          label="Contact admin",
          path="@hubspot/rich_text"
        %}
          {% module_attribute "html" %}
          <p>Having trouble? <a href="{{"mailto:" ~ site_settings.membershipWebsiteAdmin}}">Contact the admin</a>.</p>
          {% end_module_attribute %}
          {% end_module_block %}
        </div>
        </div>
        
      </div>
    </div>
  </section>
  
  
  
</main>

<style>

.input-box form{
display:flex;
flex-direction:column;
gap:1rem;
align-items:center;
justify-content:space-between;
}

.hs-form-field{
width:100%;
}

.input-box form input{
padding:1rem;
 border: var(--border-width-default) solid var(--color-border-default);
   border-radius: var(--radius-default);
width:-webkit-fill-available;

{# from global call #}
 {% if theme.typography.body_text.font == 'primary' %}
  font-family: var(--font-family-primary);
  {% else %}
  font-family: var(--font-family-secondary);
  {% endif %}
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body-highlight);
  line-height: var(--line-height-secondary);
  letter-spacing: var(--letter-spacing-secondary);
  color: var(--color-text-secondary);
}

.text-content{
max-width:40%;
}

.form{
flex:1;
}

.input-box form input{
  outline: none;
  border-color: var(--color-brand-primary);
  box-shadow: 0 0 0 3px rgba(218, 252, 0, 0.1);
}

.help-text{
margin-top:1.5rem;
}


.input-box form input[type='submit']{
padding:0.875em;
border:none;
font-weight:700;
cursor:pointer;
margin-top: 1.8rem;
}

.input-box form input[type="submit"]:hover{
  background-color:#ffff;
  color: var(--primary-text);
}

.help-text a {
color: var(--primary-text);
}

.flex-between{
align-items:flex-start;
} 

.hs-submit{
margin-left:auto;
}


.hs-reset-widget-show-password {
    float: right;
    font-size: 1rem;
    {# margin-top: -30px; #}
    {# margin-bottom: 10px; #}
    position: relative;
    z-index: 2;
    margin-right: 10px;
    cursor: pointer;
    color: var(--color-text-primary);
}

@media(max-width:768px){

.text-content{
max-width:100%;
}

.flex{
flex-direction:column;
}




.form {
width:90%;
margin:0 auto;
}

.input-box form{
flex-direction:column;
}

.hs-submit{
width:100%;
}

.input-box form input[type='submit']{
margin-top:0;
}

}

</style>



{% endblock body %}
