{% import '../../macros/button-macros.html' as button_macros %}
   {% import '../../macros/global-macros.html' as global_macros %} 
  {{ global_macros.module_css(module, name) }}
{% set anim = module.style.animation %}
<section class="section bg-primary-accent-1" id="{{name}}">
  <div class="container  {% if anim.enable_section_animation %}reveal-card{% endif %}">
    <div class="section-wrapper rounded">
      <div class="card ">
        <div class="section-label rich-text-anim-wrapper"{% if anim.enable_heading_animation %}data-heading-anim="char-stagger"{% endif %}
     {% if anim.enable_body_text_animation %}data-text-anim="masked-lines"{% endif %}>
          {{ module.section_header.section_title }}
        </div>
        <div class="logos {% if anim.enable_section_animation %}reveal-left{% endif %}">
          {% for item in module.partner_logos.logo %}
          <div class="logo-wrapper">
            {% if item.src %}
            <img src="{{ item.src|escape_url }}" alt="{{ item.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% require_css %}
<style>
  {% scope_css %}
  .section{

    padding-top: clamp({{ module.style.padding.mobile.top_padding|default(48) }}px, 4vw , {{ module.style.padding.desktop.top_padding|default(80) }}px);
    padding-left: clamp({{ module.style.padding.mobile.left_padding|default(16) }}px, 4vw , {{ module.style.padding.desktop.left_padding|default(0) }}px);
    padding-right: clamp({{ module.style.padding.mobile.right_padding|default(16) }}px, 4vw , {{ module.style.padding.desktop.right_padding|default(0) }}px);
    padding-bottom: clamp({{ module.style.padding.mobile.bottom_padding|default(0) }}px, 4vw , {{ module.style.padding.desktop.bottom_padding|default(0) }}px);

    
  }

  
  .section-wrapper{
    
    {% if module.style.card_background.backgroud_type == "solid_color" %}  
    background: {{ module.style.card_background.solid_color.css }};
    {% elif module.style.card_background.backgroud_type == "gradient" %}
    background: {{ module.style.card_background.gradient_field.css }};
    {% endif %}
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:80px;
  }

  .section-label h2{
    color: var(--color-brand-primary);
    text-transform:uppercase;

  }
  .logos{
    margin-top:40px;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    gap:20px 48px;
    max-width:{{ module.layout_alignment.content_max_width }}px;
    
  }
  .logo-wrapper img{
  max-width:190px;
  }
  
  @media (max-width: 768px) {
 .container{
   
    margin-top:{{ module.style.margin.mobile.top_padding }}px;  
    margin-bottom:{{ module.style.margin.mobile.bottom_padding }}px;
    margin-left:{{ module.style.margin.mobile.left_padding }}px;
    margin-right:{{ module.style.margin.mobile.right_padding }}px;
  }
  .logo-wrapper img{
  max-width:100%;
  }
    .section-wrapper{
    padding: 48px 16px 48px 16px;
    }
    .logos{
      margin-top:16px;
      gap:24px 24px;
    }
    .logo-wrapper img{
    width:120px;
    }
  }
  {% end_scope_css %}
</style>
{% end_require_css %}